body {
    margin: 0;
}

.header {
    padding: 20px;
    font-size: 30px;
    background-color: rgba(247, 226, 183, 0.6);
    position: relative;
    font-family: sans-serif;
    
    -webkit-box-shadow: 0px 4px 9px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 9px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 9px 1px rgba(34, 60, 80, 0.2);
}

.intro {
    margin: 40px 100px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);

    font-size: 30px;
    font-family: sans-serif;
}
